pega dados de uma tabela de um site

In [1]:
# pega dados de uma tabela de um site

import pandas as pd

URL = "https://pt.wikipedia.org/wiki/Lista_das_maiores_empresas_do_mundo_por_receita"

try:
    # Ler todas as tabelas da URL fornecida
    tabelas = pd.read_html(URL)
    
    # Exibir o número de tabelas encontradas na URL
    print(f"Número de tabelas encontradas: {len(tabelas)}")

    # Selecionar a primeira tabela
    df_brasileirao = tabelas[0]

    # Exibir a tabela
    print(df_brasileirao)

except Exception as e:
    print(f"Erro ao acessar a URL ou ler as tabelas: {e}")

Número de tabelas encontradas: 1
    Classificação                                     Nome  \
0               1                                  Walmart
1               2                               State Grid
2               3                 China National Petroleum
3               4                                  Sinopec
4               5                        Royal Dutch Shell
5               6                              Exxon Mobil
6               7                               Volkswagen
7               8                                   Toyota
8               9                                    Apple
9              10                                       BP
10             11                       Berkshire Hathaway
11             12                                 McKesson
12             13                                  Samsung
13             14                                 Glencore
14             16                                    Total
15             19                            China Railway
16             20                              Phillips 66
17             21                               Japan Post
18             22                                  Daimler
19             23                           General Motors
20             24                         General Electric
21             25                                     Exor
22             26                                  Allianz
23             27                       Ford Motor Company
24             28                                Petrobras
25             29                                   Lukoil
26             30                                    Honda
27             31                               CVS Health
28             32                                  Chevron
29             33  Industrial and Commercial Bank of China
30             34                                     E·ON
31             35                                  Foxconn
32             36                                      Eni
33             37                                     AT&T
34             38                                   Valero
35             39                       UnitedHealth Group
36             40                                    PDVSA
37             41                                Trafigura
38             42                                  Verizon
39             43           China Construction Engineering
40             44                                  Cargill
41             45                        AmerisourceBergen
42             46                          Koch Industries
43             47                                   Costco
44             48               Hewlett Packard Enterprise
45             49                               Grupo Tata

               Indústria Receita (bilhões de USD) Crescimento da receita  \
0                 Varejo                     $482                   0,7%
1            Eletrônicos                     $330                   2,9%
2         Petróleo e gás                     $299                  30,2%
3         Petróleo e gás                     $294                  34,1%
4         Petróleo e gás                     $272                  36,9%
5         Petróleo e gás                     $246                  35,6%
6             Automotiva                     $237                  11,9%
7             Automotiva                     $237                   4,5%
8            Eletrônicos                     $234                  27,9%
9         Petróleo e gás                     $223                    37%
10          Conglomerado                     $211                   8,3%
11          Farmacêutica                     $192                   6,2%
12          Conglomerado                     $177                   9,4%
13           Commodities                     $170                  22,9%
14        Petróleo e gás                     $212                  11,5%
15           Transportes                     $163                  4.,7%
16        Petróleo e gás                     $161                   6,4%
17          Conglomerado                     $157                   6,9%
18            Automotiva                     $157                  10,1%
19            Automotiva                     $152                   1,7%
20          Conglomerado                     $149                   1,7%
21  Serviços financeiros                     $148                   7,8%
22  Serviços financeiros                     $148                  10,4%
23            Automotiva                     $144                   2,0%
24        Petróleo e gás                     $144                   1,6%
25        Petróleo e gás                     $144                   1,9%
26            Automotiva                     $142                  20,0%
27                Varejo                     $139                   9,9%
28        Petróleo e gás                     $138                  34,9%
29  Serviços financeiros                     $137                  10,8%
30           Eletrônicos                     $135                   9,8%
31           Eletrônicos                     $133                   6,6%
32        Petróleo e gás                     $133                   4,4%
33      Telecomunicações                   $146,8                   2,9%
34        Petróleo e gás                     $131                   5,5%
35        Plano de saúde                     $131                   6.5%
36        Petróleo e gás                     $128                   4,4%
37           Commodities                     $128                   0,4%
38      Telecomunicações                     $127                   5,4%
39            Construção                     $125                  17,3%
40     Comida processada                     $120                  12,0%
41          Farmacêutica                     $136                  35,9%
42          Conglomerado                     $115                   4,5%
43                Varejo                     $114                   7,1%
44           Eletrônicos                     $111                   0,8%
45          Conglomerado                     $108                   5,8%

   Empregados  País                        Sede                    CEO Ref(s)
0   2.300.000   NaN      Bentonville (Arkansas)          Doug McMillon    [1]
1     927.839   NaN                      Pequim            Shu Yinbiao    [2]
2   1.589.508   NaN                      Pequim             Wang Yilin    [3]
3     810.538   NaN                      Pequim              Wang Yupu    [4]
4      90.000   NaN                        Haia        Ben van Beurden    [5]
5      75.600   NaN              Irving (Texas)          Rex Tillerson    [6]
6     610.076   NaN                   Wolfsburg        Matthias Müller    [7]
7     348.877   NaN              Toyota (Aichi)            Akio Toyoda    [8]
8      72.494   NaN                   Cupertino               Tim Cook    [9]
9      79.800   NaN                     Londres             Bob Dudley   [10]
10    331.000   NaN            Omaha (Nebraska)         Warren Buffett   [11]
11     68.000   NaN               San Francisco        John Hammergren   [12]
12    319.000   NaN                       Suwon           Oh-Hyun Kwon   [13]
13    102.388   NaN                        Baar        Ivan Glasenberg   [14]
14    100.307   NaN                  Courbevoie                     fr   [15]
15  2.045.600   NaN                      Pequim          Sheng Guangzu   [16]
16     13.500   NaN                     Houston           Greg Garland   [17]
17    229.000   NaN                      Tóquio             Jiro Saito   [18]
18    275.087   NaN                   Stuttgart         Dieter Zetsche   [19]
19    284.000   NaN                     Detroit             Mary Barra   [20]
20    305.000   NaN                      Boston         Jeffrey Immelt   [21]
21    318.562   NaN                       Turim            John Elkann   [22]
22    147.425   NaN                     Munique            Oliver Bäte   [23]
23    164.000   NaN         Dearborn (Michigan)            Mark Fields   [24]
24     86.111   NaN              Rio de Janeiro          Pedro Parente   [25]
25    120.000   NaN                      Moscou        Vagit Alekperov   [26]
26    198.561   NaN                       Tokyo       Takahiro Hachigo   [27]
27    208.000   NaN   Woonsocket (Rhode Island)            Larry Merlo   [28]
28     64.700   NaN      San Ramon (Califórnia)            John Watson   [29]
29    405.354   NaN                      Pequim         Jiang Jianqing   [30]
30     79.000   NaN                  Düsseldorf       Johannes Teyssen   [31]
31  1.290.000   NaN                      Taiwan              Terry Gou   [32]
32     82.289   NaN                        Roma       Claudio Descalzi   [33]
33    256.000   NaN                      Dallas  Randall L. Stephenson   [34]
34     22.000   NaN          San Antonio, Texas      William R. Klesse   [35]
35     99.000   NaN      Minnetonka (Minnesota)        Stephen Hemsley   [36]
36    121.000   NaN                     Caracas         Rafael Ramírez   [37]
37      5.326   NaN                     Lucerna         Claude Dauphin   [38]
38    176.000   NaN                   Nova York          Lowell McAdam   [39]
39    216.824   NaN                      Pequim                 Yi Jun   [40]
40    158.000   NaN         Wayzata (Minnesota)         Dave MacLennan   [41]
41     14.500   NaN  Chesterbrook (Pensilvânia)       Steven H. Collis   [42]
42    100.000   NaN            Wichita (Kansas)           Charles Koch   [43]
43    189.000   NaN                    Issaquah       W. Craig Jelinek   [44]
44    302.000   NaN                   Palo Alto            Meg Whitman   [45]
45    600.000   NaN                      Mumbai             Ratan Tata   [46]

faz dados fake com   Faker     site   https://faker.readthedocs.io/en/master/locales/pt_BR.html

In [41]:
from faker import Faker

Faker.seed(0)
fake = Faker()
for _ in range(5):
    print(fake.address())

48764 Howard Forge Apt. 421
Vanessaside, VT 79393
PSC 4115, Box 7815
APO AA 41945
778 Brown Plaza
North Jenniferfurt, VT 88077
3513 John Divide Suite 115
Rodriguezside, LA 93111
398 Wallace Ranch Suite 593
Ivanburgh, AZ 80818

In [18]:
from faker import Faker
from faker.providers import automotive

Faker.seed(0)
fake = Faker('pt_BR')
fake.add_provider(automotive)

for _ in range(10):
    print(fake.license_plate())

YNB-8I76
PLS-8G24
YDT-4Z89
JDX-5C78
LNK-3T87
QIB-8Z01
WZV-0U97
HXK-1W39
HZE-8Z71
KQP-4D84

In [27]:
import random

# Lista de estados brasileiros com suas siglas
estados = [
    ('AC', 'Acre'),
    ('AL', 'Alagoas'),
    ('AP', 'Amapá'),
    ('AM', 'Amazonas'),
    ('BA', 'Bahia'),
    ('CE', 'Ceará'),
    ('DF', 'Distrito Federal'),
    ('ES', 'Espírito Santo'),
    ('GO', 'Goiás'),
    ('MA', 'Maranhão'),
    ('MT', 'Mato Grosso'),
    ('MS', 'Mato Grosso do Sul'),
    ('MG', 'Minas Gerais'),
    ('PA', 'Pará'),
    ('PB', 'Paraíba'),
    ('PR', 'Paraná'),
    ('PE', 'Pernambuco'),
    ('PI', 'Piauí'),
    ('RJ', 'Rio de Janeiro'),
    ('RN', 'Rio Grande do Norte'),
    ('RS', 'Rio Grande do Sul'),
    ('RO', 'Rondônia'),
    ('RR', 'Roraima'),
    ('SC', 'Santa Catarina'),
    ('SP', 'São Paulo'),
    ('SE', 'Sergipe'),
    ('TO', 'Tocantins')
]

# Definindo a função estado
def estado():
    return random.choice(estados)

# Exemplo de uso
random.seed(0)
for _ in range(5):
    print(estado())

('MG', 'Minas Gerais')
('SP', 'São Paulo')
('PA', 'Pará')
('AL', 'Alagoas')
('GO', 'Goiás')

In [36]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.estado_nome())

Minas Gerais
São Paulo
Pará
Alagoas
Goiás

In [37]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.estado_sigla())

MG
SP
PA
AL
GO

In [43]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.neighborhood())

Bandeirantes
Mirante
Vila Santa Monica 2ª Seção
Fernão Dias
Nova Pampulha

In [44]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.postcode())

60487-647
93824-219
89241-157
56593877
08016-097

In [45]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.street_address())

Pátio Bruno da Luz, 576
Trecho Pedro Henrique Montenegro, 34
Vale da Cunha, 592
Campo de Rodrigues
Sítio Guilherme Fogaça, 45

In [48]:
from faker import Faker

Faker.seed(0)
fake = Faker()

for _ in range(5):
    print(fake.color(hue=(100, 200), color_format='rgb'))

rgb(26, 155, 88)
rgb(9, 193, 49)
rgb(73, 229, 154)
rgb(107, 249, 166)
rgb(76, 204, 69)

In [49]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.color_name())

Vermelho enegrecido
Dourado escuro
Turquesa média
Feldspato
Amarelo ouro claro

In [50]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.safe_color_name())

amarelo
magenta
marrom
azul
branco

In [51]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.cnpj())

69.024.351/0001-39
75.341.280/0001-09
94.270.561/0001-54
81.532.497/0001-90
79.408.652/0001-10

In [52]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.pricetag())

R$7.604,87
R$975,93
R$54,21
R$89.241,15
R$91.565,93

In [53]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.date())

1996-03-20
2021-07-31
1998-08-15
1972-10-03
1987-08-15

In [54]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.day_of_week())

quarta-feira
sábado
sábado
terça-feira
sábado

In [55]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.time())

07:46:39
01:24:38
08:43:22
05:52:26
09:51:25

In [57]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.year())

1996
2021
1998
1972
1987

In [58]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.ascii_free_email())

ateixeira@gmail.com
nina76@yahoo.com.br
lfogaca@hotmail.com
alexiacarvalho@gmail.com
sophia92@yahoo.com.br

In [59]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.ascii_safe_email())

ateixeira@example.org
nina76@example.com
lfogaca@example.org
alexiacarvalho@example.org
sophia92@example.com

In [60]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.http_method())

OPTIONS
OPTIONS
GET
DELETE
PATCH

In [61]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.http_status_code())

532
297
488
555
315

In [62]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.iana_id())

6463344
7056021
679216
4343903
8577767

In [63]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.image_url())

https://picsum.photos/788/861
https://dummyimage.com/530x995
https://dummyimage.com/621x976
https://dummyimage.com/447x285
https://placekitten.com/286/194

In [64]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.ipv4())

171.174.170.81
95.25.112.121
51.105.121.194
195.110.164.126
141.250.247.54

In [65]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.ipv4_network_class())

b
b
a
b
c

In [66]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.ipv6())

e3e7:682:c209:4cac:629f:6fbf:d82c:7cd
f728:b4fa:4248:5e3a:a5d:2f35:6baa:9455
eb11:67b3:67a9:c378:7c65:c1e6:82e2:e662
f7c1:bd87:4da5:e709:d471:3d61:c8a7:639
e443:df78:9558:867f:5ba9:1fb0:7a02:4204

In [67]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.port_number())

50494
55125
5306
33936
63691

In [68]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.safe_domain_name())

example.com
example.com
example.org
example.com
example.net

In [69]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.tld())

br
br
com
org
br

In [70]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.uri_extension())

.php
.php
.html
.htm
.asp

In [71]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.uri_page())

author
category
privacy
category
index

In [72]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.uri_path())

posts/tag
explore/tag
explore/category
blog
category

In [73]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.url())

https://da.br/
https://fogaca.net/
http://sa.org/
http://siqueira.br/
https://www.lopes.br/

In [74]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.job())

Jogador de golfe
Lutador de luta livre
Armador
Engenheiro de produto ou produção
Paparazzo

In [75]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.first_name())

Helena
Laura
Bruno
Valentim
Nina

In [76]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.first_name_female())

Maria Isis
Mariah
Ana Cecília
Joana
Sophia

In [77]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.first_name_male())

Matheus
Otto
Asafe
José Pedro
Thomas

In [78]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.first_name_nonbinary())

Helena
Laura
Bruno
Valentim
Nina

In [79]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.last_name())

Gomes
Teixeira
Leão
Aparecida
da Luz

In [80]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.last_name_female())

Gomes
Teixeira
Leão
Aparecida
da Luz

In [81]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.last_name_male())

Gomes
Teixeira
Leão
Aparecida
da Luz

In [82]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.last_name_nonbinary())

Gomes
Teixeira
Leão
Aparecida
da Luz

In [83]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.prefix())

Sra.
Dr.
Sra.
Sra.
Dra.

In [84]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.prefix_female())

Sra.
Sra.
Srta.
Sra.
Dra.

In [85]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.prefix_male())

Dr.
Dr.
Sr.
Dr.
Dr.

In [86]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.cellphone_number())

+55 60 9 4876-4759
+55 (82) 94219 4892
+55 (11) 9 5781 5659
+55 (87) 97840 8016
+55 97 95351 3933

In [87]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.country_calling_code())

+687
+595
+880
+964
+41

In [88]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.msisdn())

5571960487647
5561993824219
5551989241157
5584915659387
5581984080160

In [89]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.phone_number())

51 6048 7647
11 9382 4219
+55 61 8924-1157
84 1565-9387
(031) 8408-0160

In [90]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.cpf())

690.243.518-98
532.710.684-53
418.652.390-89
569.471.382-64
089.753.621-59

In [91]:
from faker import Faker

Faker.seed(0)
fake = Faker('pt_BR')

for _ in range(5):
    print(fake.rg())

68024315X
75416830X
147568304
153402866
378420562